<div class="container">
  <h1>User Skills and Levels</h1>
  <% @users.each do |user|%>
    <a><%= user.name %> </a><br>
      <% user.skills.each do |s|%>
        &nbsp;&nbsp;&nbsp;&nbsp;<a><%=s.name%></a><br>
      <%end%>
  <%# TODO: display the skills and proficiency levels for each user ... %>
  <% end%>
</div>
